body, html {
    font-family: KacstArt;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

body {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.42) 0%, rgba(252, 167, 70, 0.63) 100%);
}

h1 {
    text-align: center;
}

body, .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    max-width: 500px;
    justify-content: space-evenly;
}

.wrapper p {
    text-align: center;
}

span {
    letter-spacing: 3px;
}

input {
    margin: 10px 0;
    padding: 2px;
}

table, tr, th, td {
    border: 1px solid black;
}

table {
    width: 200px;
    text-align: center;
    margin-bottom: 20px
}

table caption {
    color: white;
    background: black;
}

.table-style {
    background: rgba(0, 0, 0, 0.22);
}

form {
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 2px solid black;
    padding: 10px
}

.btn-confirm {
    padding: 10px 20px;
    background: #ff9060;
    border: none;
}

.btn-confirm:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.btn-confirm:active {
    transform: scale(1.0);
}