body, html {
    font-family: KacstArt;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas:
                        "red-block red-block yellow-block"
                        "green-block pink-block yellow-block";
    gap: 20px 20px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.42) 0%, rgba(252, 167, 70, 0.63) 100%);
}

h1 {
    text-align: center;
    transform: rotate(90deg);
}

img {
    width: 100%;
}

input {
    padding: 3px;
    margin: 3px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper:nth-child(1) {
    grid-area: yellow-block;
}

.wrapper:nth-child(2) {
    grid-area: red-block;
    place-items: center;
}


.green-blocks {
    grid-area: green-block;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: max-content;
}

.wrapper:nth-child(6) {
    grid-area: pink-block;
}

table, tr, th, td {
    border: 1px solid black;
}

table {
    text-align: center;
}

table caption {
    color: white;
    background: black;
}

.table-style {
    background: rgba(0, 0, 0, 0.22);
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px
}

.btn-confirm {
    padding: 10px 20px;
    background: #ff9060;
    border: none;
}

.btn-confirm:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.btn-confirm:active {
    transform: scale(1.0);
}


.container-desk {
    background: black;
    width: 500px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-desk p {
    font-size: 2rem;
    width: max-content;
    color: white;
    background: purple;
    padding: 5px;
    cursor: pointer;
    text-align: center;
}

.circle-style {
    position: absolute;
    left: 0;
    height: 50px;
    width: max-content;
    padding: 5px;
    border-radius: 50%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}