@keyframes pulse {
    0% { transform: scale(1) }
    25% { transform: scale(1.4) }
    50% { transform: scale(1.2) }
    75% { transform: scale(1.4) }
    100% { transform: scale(1) }
}

.heart-container {
    margin: 100px 0;
    transform: rotate(45deg);
}

.heart,
.move-heart-2 {
    width: 50px;
    height: 50px;
    background: purple;
    animation: 1.3s pulse ease-in-out infinite;
}

.heart::before,
.heart::after,
.move-heart-2::after,
.move-heart-2::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: purple;
    position: absolute;
    border-radius: 50%;
}

.heart::before,
.move-heart-2::before {
    bottom: 25px;
}

.heart::after,
.move-heart-2::after {
    right: 25px;
}


/* styles for second heart */


.heart-container2 {
    background: lightpink;
    width: 500px;
    height: 300px;
    position: relative;
    margin: 100px 0;
}

.container-rotate,
.black-circle,
.circle1, .circle2,
.circle3, .circle4,
.heart2 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}


.container-rotate {
    transform: rotate(45deg);
}

.black-circle {
    width: 250px;
    height: 250px;
    background: black;
    border-radius: 50%;
    animation: 2s wave ease 2.5s infinite;
}

.circle1 {
    height: 220px;
    width: 220px;
    border: 7px solid lightpink;
    border-radius: 50%;
    animation: 2s wave ease 2.4s infinite;
}

.circle2 {
    height: 190px;
    width: 190px;
    border: 7px solid lightpink;
    border-radius: 50%;
    animation: 2s wave ease 2.3s infinite;
}


.circle3 {
    height: 160px;
    width: 160px;
    border: 7px solid lightpink;
    border-radius: 50%;
    margin: auto;
    animation: 2s wave ease 2.2s infinite;
}

.circle4 {
    height: 130px;
    width: 130px;
    border: 7px solid lightpink;
    border-radius: 50%;
    animation: 2s wave ease 2.1s infinite;
}

.heart2 {
    width: 50px;
    height: 50px;
    background: lightpink;
    animation: 2s wave ease 2s infinite;
}

.heart2::before  {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: lightpink;
    position: absolute;
    bottom: 25px;
    border-radius: 50%;
}

.heart2::after {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: lightpink;
    position: absolute;
    right: 25px;
    border-radius: 50%;
}

@keyframes wave {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes heart {
    0% {
        top: 40px;
        left: 40px;
        bottom: 420px;
        right: 420px;
    }

    25% {
        top: 40px;
        left: 400px;
        right: 0;
        bottom: 420px;
    }

    50% {
        left: 400px;
        top: 420px;
        bottom: 40px;
        right: 0;
    }

    75% {
        bottom: 0;
        right: 420px;
        left: 40px;
        top: 420px;
    }
    100% {
        bottom: 420px;
        top: 40px;
        left: 40px;
        right: 420px;
    }
}

@keyframes bg {
    0% {
        background: #ff0000;
    }

    25% {
        background: #ff00db;
    }

    50% {
        background: #9b00ff;
    }

    75% {
        background: #ff6a00;
    }
    100% {
        background: #ff0000;
    }
}

.move-heart {
    background: black;
    height: 500px;
    width: 500px;
    position: relative;
    margin: 100px;
}

.cont-heart{
    position: absolute;
    width: max-content;
    height: max-content;
    transform: rotate(45deg);
    animation: 10s heart ease infinite;

    /*transform: rotate(45deg);*/
}

.cont-heart2 {
    animation: 1.3s pulse ease-in-out infinite;
}

.move-heart-2,
.move-heart-2::after,
.move-heart-2::before {
    animation: 10s bg ease infinite;
}

